/*deixa o arquivo em html em branco para ser alterado da forma que desejarmos*/
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

:root {
    --corfundo: rgba(160, 163, 158, 1);
    --corprincipal: rgba(217, 217, 217, 1);
    --corsecundaria: rgba(205, 205, 205, 1);
    --corimpacto: rgba(105, 152, 229, 1);
    --corimpactohover: rgb(71, 115, 185);
    --cortexto: rgb(0, 0, 0);
}

/*cor do modo escuro*/
.darkmode {
    --corfundo: rgba(30, 30, 30, 1);
    --corprincipal: rgba(50, 50, 50, 1);
    --corsecundaria: rgba(90, 90, 90, 1);
    --corimpacto: rgb(71, 115, 185);
    --corimpactohover: rgba(105, 152, 229, 1);
    --cortexto: rgb(255, 255, 255);
}

body {
    background-color: var(--corfundo);
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Space Grotesk';
}

/*LISTA PRINCIPAL*/
#fundolista {
    border-radius: 25px;
    background-color: var(--corprincipal);
    width: 560px;
    box-shadow: 0px 4px 50px 8px rgba(0, 0, 0, 0.25);
}

/*parte de cima do to-do list*/
#cima {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;
}

h1 {
    color: var(--cortexto);
    flex-grow: 1;/*manda o ícone da lua pro outro lado*/
}

::placeholder {
    color: var(--cortexto);
}

/*caixa da lista*/
#listaprincipal {
    display: flex;
    justify-content: center;
}

#taskList {
    background-color: var(--corsecundaria);
    margin-bottom: 25px;
    width: 523px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
#doneTasks{
    background-color: var(--corsecundaria);
    margin-bottom: 25px;
    width: 523px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

/*parte de baixo do to-do list*/
#baixo {
    margin-bottom: 20px;
    /*flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#input {
    border-radius: 15px;
    padding-left: 20px;
    width: 406px;
    height: 56px;
    background-color: var(--corsecundaria);
}

#botaoadd {
    font-size: 30px;
    border-radius: 15px;
    margin-left: 25px;
    width: 56px;
    height: 56px;
    background-color: var(--corimpacto);
    transition: 0.5s;
}

/*botões transparentes*/
button {
    cursor: pointer;
    background: none;
    border: none;
    height: 32px;
    width: 32px;
}

/*HOVER*/
#botaoadd:hover {
    border-radius: 100%;
    transition: 0.5s;
    background-color: var(--corimpactohover);
}

/*botôes do lado*/
#fundobar {
    background-color: var(--corprincipal);
    width: 119px;
    height: 235px;
    border-radius: 25px;
    margin-left: 30px;
    box-shadow: 0px 4px 50px 8px rgba(0, 0, 0, 0.25);
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*coisinhas*/
li {
    width: 505px;
    height: 45px;
    background-color: var(--corsecundaria);
    list-style: none;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    align-items: center;
    /*flex*/
    align-items: center;
    display: flex;
    flex-direction: row;
}

/* checkbox do li */
.checkbox {
    height: 20px;
    width: 20px;
    font-size: 18px;
    margin: 5px;
    border-radius: 2px;
}

/* lixeira do li */
.trashCan {
    border-radius: 2px;
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 18px;
    margin: 5px;
    transition: 0.5s;
    background-color: white;
    color: red;
}

/* Tarefas que mudam o fundo dependendo se são pares ou ímpares */

.evenTask{
    background-color:var(--corfundo)
}

.trashCan:hover {
    background-color: red;
    color: white;
}

.importantTask{
    color: rgb(0, 0, 0);
    background-color: #797979;
}