/*deixa o arquivo em html em branco para ser alterado da forma que desejarmos*/
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style-type: none;
}

/*variáveis css*/
:root {
    --corfundo: rgba(160, 163, 158, 1);
    --corprincipal: rgba(217, 217, 217, 1);
    --corsecundaria: rgba(205, 205, 205, 1);
    --corimpacto: rgba(105, 152, 229, 1);
}

.darkmode {
    --corfundo: rgba(30, 30, 30, 1);
    --corprincipal: rgba(50, 50, 50, 1);
    --corsecundaria: rgba(90, 90, 90, 1);
    --corimpacto: rgba(125, 185, 250, 1);

}

body {
    background-color: var(--corfundo);
    font-family: 'Space Grotesk';
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#fundolista {
    border-radius: 25px;
    background-color: var(--corprincipal);
    width: 560px;
}

/*parte de cima do to-do list*/
#cima {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;
}

/*caixa da lista*/
#listaprincipal{
    display: flex;
    justify-content: center;
}

#tasklist {
    background-color: var(--corsecundaria);
    margin-bottom: 25px;
    width: 523px;
    justify-content: center;
}

/*parte de baixo do to-do list*/
#baixo {
    margin-bottom: 20px;
    /*flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#input {
    width: 426px;
    height: 76px;
    background-color: var(--corsecundaria);
}

#botaoadd {
    margin-left: 25px;
    /*flex*/
    width: 74px;
    height: 76px;
    background-color: var(--corimpacto);
}