/*deixa o arquivo em html em branco para ser alterado da forma que desejarmos*/
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

:root {
    --corfundo: rgba(160, 163, 158, 1);
    --corprincipal: rgba(217, 217, 217, 1);
    --corsecundaria: rgba(205, 205, 205, 1);
    --corimpacto: rgba(105, 152, 229, 1);
    --corimpactohover: rgb(71, 115, 185);
}

/*cor do modo escuro*/
.darkmode {
    --corfundo: rgba(30, 30, 30, 1);
    --corprincipal: rgba(50, 50, 50, 1);
    --corsecundaria: rgba(90, 90, 90, 1);
    --corimpacto: rgb(71, 115, 185);
    --corimpactohover:rgba(105, 152, 229, 1);
}

body {
    background-color: var(--corfundo);
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Space Grotesk';
}

/*LISTA PRINCIPAL*/
#fundolista {
    border-radius: 25px;
    background-color: var(--corprincipal);
    width: 560px;
    border-radius: 10px;
}

/*parte de cima do to-do list*/
#cima {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;
}

/*caixa da lista*/
#listaprincipal {
    display: flex;
    justify-content: center;
}

#tasklist {
    background-color: var(--corsecundaria);
    margin-bottom: 25px;
    width: 523px;
    justify-content: center;
}

/*parte de baixo do to-do list*/
#baixo {
    margin-bottom: 20px;
    /*flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#input {
    border-radius: 15px;
    padding-left: 20px;
    width: 406px;
    height: 56px;
    background-color: var(--corsecundaria);
}

#botaoadd {
    border-radius: 15px;
    margin-left: 25px;
    width: 56px;
    height: 56px;
    background-color: var(--corimpacto);
    transition: 0.5s;
}

/*HOVER*/
#botaoadd:hover{
    border-radius: 100%;
    transition: 0.5s;
    background-color:var(--corimpactohover);
}

/*botôes do lado*/
#fundobar {
    background-color: var(--corprincipal);
    width: 119px;
    height: 235px;
    border-radius: 25px;
    margin-left: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*coisinhas*/
li {
    list-style: none;
    margin: 4px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

/* checkbox do li */
.checkbox {
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 16px;
    margin: 5px;
}
/* lixeira do li */
.trashCan {
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 16px;
    margin: 5px;
    transition: 0.5s;
    background-color: white;
    color: red;
}

.trashCan:hover{
    background-color: red;
    color: white;
}

/*cursor*/
button{
    cursor: pointer;
}
